Source: wxruby
Section: ruby
Priority: extra
Maintainer: %s <%s>
Build-Depends: debhelper (>= 7), ruby, ruby-dev, cdbs, ruby-pkg-tools, libglu1-xorg-dev, libgtk2.0-dev, libwxgtk2.8-dev, libwxbase2.8-dev
Standards-Version: 3.8.3
Homepage: http://wxruby.rubyforge.org

Package: wxruby
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ruby wrappers for the wxWidgets GUI Toolkit
 Ruby bindings for the cross-platform wxWidgets GUI Toolkit
